methods/dream/__pycache__
methods/dream/models/dunnhumby/*
methods/dream/basket_dataloader.ipynb
**/*.ipynb
keyset/*
methods/g-p-gp-topfreq/g_top_pred/*
methods/g-p-gp-topfreq/gp_top_pred/*
methods/g-p-gp-topfreq/p_top_pred/*
methods/beacon/__pycache__
methods/beacon/results/models/*
methods/beacon/results/pred/*
methods/beacon/temp_result/*
methods/beacon/tf_folder/*
methods/clea/models/*
methods/clea/module/__pycache__
methods/clea/result/*
methods/dnntsp/model/__pycache__
methods/dnntsp/runs/Instacart/DNNTSP
methods/dnntsp/train/__pycache__
methods/dnntsp/utils/__pycache__
methods/tifuknn/dunnhumby_pred0.json
methods/upcf/__pycache__
methods/upcf/pred/*
methods/dnntsp/save_model_folder/Instacart/DNNTSP/*
methods/sets2sets/models/*
.env
DataSource/*
datasource/*
*.csv
evaluation/__pycache__
evaluation/*.txt
evaluation/*.md
jsondata/*
mergeddataset/*
methods/dream/pred/*
*.pth

jsondata
methods/clea/module/config.py
dream/*.json
methods/tifuknn/*.json
pipeline/logs/*
