pandas>=1.1.0
torch>=1.7.0
numpy>=1.19.0
scipy>=1.5.0
dataclasses==0.8
joblib==1.1.1
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.5.4
threadpoolctl==3.1.0
torch==1.7.0+cu110
torchvision==0.8.1+cu110
typing_extensions==4.1.1